.products-container {
  padding: 2rem;
  /* background-color: #fafafa; */
  width: 100%;
  display: inline-block;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
}

.products-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2000px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;

}

.product-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem; 
  width: 300px;
  background: white;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: auto;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.product-card h3 {
  margin: 0.5rem 0;
  color: #222;
  font-size: 20px;
}

.product-card .description {
  font-size:15px;
  color: #555;
}

.product-card .price {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #007bff;
}
